:host {
  &:not([hidden]) {
    display: flex;
  }

  margin-top: 20px;
}

.paginator {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 10px;

  &__page {
    padding: 5px 10px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }

  &__previous,
  &__next {
    padding: 5px 10px;

    & > button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      &[disabled] {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }
}


@media (max-width: 576px) {
  .paginator {
    display: flex;
    width: 100%;

    &__page,
    &__previous,
    &__next {
      flex: 1;
      text-align: center;
    }
  }
}
